body {
  font-family: "Arimo", Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
#app {
  flex: 1;
}
@font-face {
  font-family: Arimo;
  src: url("../fonts/Arimo/static/Arimo-Regular.ttf");
}
a,
li {
  font-size: 1rem;
}

/* css for contact page */
.contact-bg {
  background-image: url("../images/banners/401ee6dd7cb8b32f35703f88f482980a.jpeg");
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 50vh;
}
/* css for contact page */

/* css for home page */
#search-inpt-home {
  border: none !important;
  border-bottom: 1px solid #eee !important;
  outline: none !important;
  background-color: transparent;
  color: white;
}

#search-btn-home {
  border: none !important;
  outline: none !important;
  background-color: transparent;
  color: white;
}

.link-home {
  margin-left: 5px !important;
}

.header-link-home {
  font-weight: bold;
}

.navbar div {
  /* top left bottom right   */
  padding: 10px 5px 0px 15px;
}

.active {
  color: #024e82 !important;
  font-weight: bold !important;
}

.img-home {
  background-position: center;
  background-size: cover;
  min-height: 500px;
  max-height: 600px;
}

#badge-span-header {
  background-color: #024e82 !important;
}
/* css for home page */

/* css for Item Page*/
.itempage-div-image {
  width: 50% !important;
  margin: 4rem !important;
  padding-left: 8rem !important;
}

.itempage-header {
  font-size: 2.5rem !important;
}

.itempage-price {
  font-size: 2rem !important;
  margin-right: 4rem !important;
}

.itempage-rightdetails {
  margin-top: 4rem !important;
}

.itempage-paragraph {
  margin: 2rem 0rem !important;
}

.itempage-dropdown {
  margin: 2rem 0rem !important;
}

.itempage-adding-btn {
  margin: 2rem 0rem !important;
}

.btn.btn-rounded {
  border-radius: 50px;
}

.itempage-icons {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.nav-tabs .nav-link {
  color: #000 !important;
  background-color: #fff !important;
  border-color: #000 !important;
}

.nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #9e9e9e !important;
  border-color: #000 !important;
}
/* css for common */

.color-text-website {
  color: #024e82 !important;
}
.bg-website {
  background-color: #024e82 !important;
}

.bg-c-lite-green {
  background: linear-gradient(to right, #024e82, #3a9ec0);
}
/* css for common  */

.header-container-about {
  height: 500px;
  background-size: cover; /*cover whole div*/
  background-repeat: no-repeat;
  background-position: 20%;
  background-image: url("../images/header_img.jpg");
}

/* for 2 classes with the same name */
.model1-about {
  width: calc(50% - 15px);
  height: 500px;
  background-size: cover; /*cover whole div*/
  background-repeat: no-repeat;
  background-position: 20%;
  background-image: url(../images/women/first_img.jpg);
}

#model2-about {
  width: calc(50% - 15px);
  height: 500px;
  background-size: cover; /*cover whole div*/
  background-repeat: no-repeat;
  background-position: 20%;
  background-image: url(../images/men/second_img.jpg);
}

.founders-text-about {
  margin-top: 100px;
  font-weight: bold;
}

.testimonials-text-about {
  margin-top: 200px;
}

@media (max-width: 575px) {
  .comments-about {
    flex-wrap: wrap;

    align-items: center;

    justify-content: center;
  }
}

@media (max-width: 992px) {
  .image-wrapper-about {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0;
  }
  .model1-about {
    width: 100% !important;
    background-size: contain !important;
    height: 350px !important;
  }
}

@media (max-width: 1000px) {
  .founder-about {
    width: 300px;
  }
  .founder-container-about {
    flex-wrap: wrap; /* when overflowing wrap */
    margin-top: 100px;
  }
}

.payment-info {
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 6px;
  color: #000000;
  font-weight: bold;
  box-shadow: #d4d4d4 0px 0px 10px;
}

.product-details {
  padding: 10px;
}

body {
  background: #eee;
}

.cart {
  background: #fff;
}

.p-about {
  font-size: 12px;
}

.table-shadow {
  -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
}

.type {
  font-weight: 400;
  font-size: 10px;
}

label.radio {
  cursor: pointer;
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

label.radio span {
  padding: 1px 12px;
  border: 2px solid #ada9a9;
  display: inline-block;
  color: #8f37aa;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
}

label.radio input:checked + span {
  border-color: #fff;
  background-color: rgb(37, 40, 233);
  color: #fff;
}

.credit-inputs {
  background: rgb(228, 228, 228);
  color: #fff !important;
  border-color: rgb(185, 185, 185);
}

.credit-inputs::placeholder {
  color: #000000;
  font-size: 13px;
}

.credit-card-label {
  font-size: 9px;
  font-weight: 300;
}

.form-control.credit-inputs:focus {
  background: rgb(173, 173, 173);
  border: rgb(90, 90, 90);
}

.line {
  border-bottom: 1px solid rgb(102, 102, 221);
}

.information span {
  font-size: 12px;
  font-weight: 500;
}

.information {
  margin-bottom: 5px;
}

.items {
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
}

.spec {
  font-size: 11px;
}
